.title-text {
  position: relative;
  bottom: 0.8rem;
}

.navbar-division-line {
  border-left: 1px solid #707070;
  height: 3vh;
  position: relative;
  top: 20%;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.nav-bottom-highlight {
  border-bottom: 3px solid #707070;
}
